@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --head: #003049;
    --bg: #edf2f4;
    --font: #000;
}

header {
    background-color:var(--head);
    grid-area: header;
    font-family: 'Sixtyfour', sans-serif;
    color: #edede9;
    font-size: 10vh;
    text-align: center;
}

h4 {
    font-size: 10px;
    color: #000;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    background-color: var(--bg);
    color: var(--font);
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-areas:
    'header header header'
    '. calc.'
    'footer footer footer';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
}

footer {
    background-color:var(--head);
    grid-area: footer;

}

.calc {
    grid-area: calc;
    place-self: center;
    display: grid;
    justify-items: center;
}

input {
    background-color: #edede9;
    height: 2rem;
    width: 17rem;
    text-align: center;
    font-size: 1rem;
    border: none;
    outline: none;
    appearance: textfield;
    margin: 10px 0px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
                -1px -1px 6px rgba(255, 255, 255, 0.4);
}


button {
  background-color: #c81d25;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 16px 24px;
  text-align: center;
  transition: all 250ms cubic-bezier(.23, 1, 0.32, 1);
  width: 100%;
  margin: 25px 0px 25px 0;
}

button:active {
  transform: translateY(1px);
}

.return {
    font-size: 1.2rem;
}

#vetitesi, #szamitott {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--head);
    padding-inline: 30px;
    margin-bottom: 10px;
}

